// Variables

// Colors
$blue: #55D3EA;
$dark-blue: #18BBD9;
$white: #fff;

// Typography
$body-font-size: 16px;
$body-line-height: 24px;

$heading-primary-font-size: 48px;
$heading-primary-line-height: 48px;

$body-font: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$heading-font: 'BreeSerifRegular', Helvetica, Arial, sans-serif;

// Spacing
$spacing: 24px;