// Variables

// Colors
$grey: #444;
$light-grey: #f5f5f5;
$turquoise: #16a6b6;

// Typography
$body-font-size: 16px;
$body-line-height: 24px;

$heading-primary-font-size: 48px;
$heading-primary-line-height: 48px;

$body-font: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

// Spacing
$spacing: 24px;